<a href="https://colab.research.google.com/github/Ab-Rouf/oop-final-exam/blob/main/Operators_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



#Operators:

1.   Arithmatics Operators
2.   Assignment Operators
3.   Comparison Operators
4.   Logical Operators
5.   Identity Operators
6.   Membership Operators




1. Arithmetics Operators

In [9]:
num_1=20
num_2=7

#Addition
print(num_1+num_2)
#Subtraction

sub=num_1-num_2
print("Subtraction=",sub)
# #Multiplication
mul=num_1*num_2
print("Multiplication=",mul)
#Division
div=num_1/num_2
print("Division=",div)

#Exponent
exp=num_1**num_2
print("Exponent=",exp)

#Modulus
mod=num_1%num_2
print("Modulus=",mod)

#Floor Division
floor=num_1//num_2
print("Floor Division=",floor)

27
Subtraction= 13
Multiplication= 140
Division= 2.857142857142857
Exponent= 1280000000
Modulus= 6
Floor Division= 2

2. Assignment Operators

In [10]:
a=5
print(a)

5

In [11]:
a+=5
print(a)

10

In [14]:
b=5
b-=2
print(b)

3

3. Comparison Operators

In [1]:
a=5
b=10

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

4. Logical Operators

and

or

not

In [3]:
a=10

print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>8 and a>5))

False
True
False

5.identity Operators

is

is not

In [5]:
x=5
y=7
z=5
print(x is z)
print(x is not y)

True
True

6. Membership Operators

 in

 not in

In [6]:
a=5
b=10
c=[1,2,3,4,5]
print(a in c)
print(b not in c)

True
True

#If else statements in python

In [8]:
a=int(input("Enter your  1st value:"))
b=int(input("Enter your 2nd value:"))

if a>b:
  print("a is greater than b")
else:
  print("b is greater than a")

Enter your  1st value:12
Enter your 2nd value:11
a is greater than b

In [10]:
a=int(input("Enter your  1st value:"))
b=int(input("Enter your 2nd value:"))
c=int(input("Enter your 3rd value:"))

if (b<a>c):
  print("a is largest number")
elif (a<b>c):
  print("b is largest number")
else:
  print("c is largest number")

Enter your  1st value:11
Enter your 2nd value:22
Enter your 3rd value:33
c is largest number

#Loop in python

1. For loop

2. while loop

3. Do-While loop

In [11]:
#for loop

laptop_1=int(input("Enter the price of laptop:"))
laptop_2=int(input("Enter the price of laptop:"))
laptop_3=int(input("Enter the price of laptop:"))
laptop_4=int(input("Enter the price of laptop:"))
laptop_5=int(input("Enter the price of laptop:"))

laptop_price=[laptop_1,laptop_2,laptop_3,laptop_4,laptop_5]

Enter the price of laptop:100000
Enter the price of laptop:5555555
Enter the price of laptop:66666
Enter the price of laptop:7777777
Enter the price of laptop:888888

In [12]:
print(laptop_price)

[100000, 5555555, 66666, 7777777, 888888]

In [16]:
for i in range(5):
  laptop_price[i]=int(input("Enter the price of laptop:"))

print("Most Expensive Laptop price is =",max(laptop_price))

Enter the price of laptop:50000
Enter the price of laptop:64000
Enter the price of laptop:60000
Enter the price of laptop:66000
Enter the price of laptop:90000
Most Expensive Laptop price is = 90000
Most Expensive Laptop price is = 90000
Most Expensive Laptop price is = 90000
Most Expensive Laptop price is = 90000
Most Expensive Laptop price is = 90000

#practise some problem

In [7]:
# summation pattern print

n=int(input("Enter your range :"))

for i in range(1,n+1):
  sum=0
  for j in range(1,i+1):
    print(j,sep=" ",end=" ")
    sum=sum+j
    if(i>j):
      print("+",sep=" ",end=" ")
  print("=",sum)

Enter your range :5
1 = 1
1 + 2 = 3
1 + 2 + 3 = 6
1 + 2 + 3 + 4 = 10
1 + 2 + 3 + 4 + 5 = 15

In [14]:
#Check the prime number

n=int(input("Enter your number:"))
if(n>1):
  for i in range(2,n+1):
    if(n%i==0):
      break

  if(i==n):
    print(n," is a prime number")
  else:
    print(n," is not a prime number")

Enter your number:8
8  is not a prime number

In [22]:
#union of two array in python
a=(1,2,3,4,5)
b=(5,5,6,7,8,9,10)

c=a+b
d=set(c)
print(c)
print(d)

(1, 2, 3, 4, 5, 5, 5, 6, 7, 8, 9, 10)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [25]:
#intersect of two arrays
a=[1,2,3,4]
b=[2,3,4,5]

c=set(a).intersection(set(b))
d=list(c)
print(d)

[2, 3, 4]

In [32]:
#swap two number in onle list
a=[1,2,3,4]
temp=a[0]
a[0]=a[3]
a[3]=temp
print(a)

[4, 2, 3, 1]

In [35]:
#Find the factorial value of any numnber
n=int(input("Enter your number:"))
fact=1
if(n==0):
  print("Factorial of 0 is 1")
else:
  for i in range(1,n+1):
    fact=fact*i
  print("Factorial of",n,"is",fact)

Enter your number:0
Factorial of 0 is 1

In [36]:
#factorial function
def factorial_value(n):
  fact=1
  if(n==0):
    return fact
  else:
    for i in range(1,n+1):
      fact=fact*i
    return fact

n=int(input("Enter your number:"))
print("Factorial of",n,"is",factorial_value(n))

Enter your number:5
Factorial of 5 is 120